<div class="top-bar">
    <sentinel-button-with-icon
      color="primary"
      icon="arrow_back"
      tooltip="Back to subnets"
      (click)="goBack()"
    >
      Back to subnets
    </sentinel-button-with-icon>
</div>

<div class="subnet-header">
  <h1>{{ range }}</h1>
</div>

<div class="subnet-details">
  <div class="subnet-line">
    <strong>Subnet name:</strong>
    <span>{{ subnetDetail()?.note ?? 'N/A' }}</span>
  </div>
  <div class="subnet-line">
    <strong>Organization unit: </strong>
      @if (subnetDetail()?.organizationUnit) {
          <a (click)="navigateToOrgUnitDetail(subnetDetail()?.organizationUnit ?? '')" class="subnet-detail-link">
            {{ subnetDetail()?.organizationUnit || 'N/A' }}
          </a>
      } @else {
          <span>N/A</span>
      }
  </div>
  <div class="subnet-line">
    <strong>Contacts: </strong>
    <span>{{ subnetDetail()?.contacts && (subnetDetail()?.contacts?.length ?? 0) > 0 ? subnetDetail()?.contacts?.join(', ') : 'N/A' }}</span>
  </div>
  <div class="subnet-line">
    <strong>Part of: </strong>
    @if (subnetDetail()?.parentSubnet) {
        <a (click)="navigateToSubnetDetail(subnetDetail()?.parentSubnet ?? '')" class="subnet-detail-link">
        {{ subnetDetail()?.parentSubnet || 'N/A' }}
        </a>
    } @else {
        <span>N/A</span>
    }
  </div>
</div>

@if (this.dataSource.data && this.dataSource.data.length > 0) {
    <div class="occupancy-container" style="min-height: 24em">
        <h3>Subnet occupancy</h3>
        <ngx-charts-advanced-pie-chart
            #pieChart
            [results]="pieChartData()"
            [animations]="false"
            [scheme]="'picnic'"
            [customColors]="customColors"
            [label]="'Total usable IPs'"
        ></ngx-charts-advanced-pie-chart>
    </div>
}

<!-- Overall element visible only when data is loaded, and no errors or empty response -->
@if (dataLoaded && !emptyResponse && !errorResponse && !dataLoading) {
  <div>
    <!-- You can add more elements here if needed within this condition -->
    <table mat-table [dataSource]="dataSource" class="mat-table full-width-table">
        <!-- IP Column -->
        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP Address </th>
            <td mat-cell *matCellDef="let childIP"> {{ childIP.address }} </td>
        </ng-container>

        <!-- Subnet range column -->
        <ng-container matColumnDef="subnet">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subnet</th>
            <td mat-cell *matCellDef="let childIP">
                <a (click)="navigateToSubnetDetail(childIP.subnet)" class="subnet-detail-link">
                    {{ childIP.subnet || 'N/A' }}
                </a>
            </td>
        </ng-container>

        <!-- Software Version Column -->
        <ng-container matColumnDef="softwareVersion">
            <th mat-header-cell *matHeaderCellDef> Software Version </th>
            <td mat-cell *matCellDef="let childIP"> {{ childIP.softwareVersion?.join(', ') ?? 'N/A' }} </td>
        </ng-container>

        <!-- Affected By Column -->
        <ng-container matColumnDef="affectedBy">
            <th mat-header-cell *matHeaderCellDef> Affected By </th>
            <td mat-cell *matCellDef="let childIP"> {{ getSaneAffectedBy(childIP.affectedBy) }} </td>
        </ng-container>

        <!-- Add the header and row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
} @else if (errorResponse) {
  <div class="error-message">
    <span>{{ errorResponse }}</span>
  </div>
} @else if (emptyResponse) {
  <div class="empty-message">
    <span>No data available for the selected issue.</span>
  </div>
} @else if (dataLoading) {
  <div class="loading-message">
    <mat-spinner></mat-spinner>
    <span>Loading vulnerable assets...</span>
  </div>
}