@use 'sass:map';
@use '@angular/material' as mat;

@mixin notification-card-theme($theme) {
  @if (mat.get-theme-version($theme) == 1) {
    sentinel-notification-overview mat-card.notification-card:hover, mat-card.notification-card.compact:hover {
      background-color: var(--sentinel-hover-state);
    }
  } @else {
    mat-card.notification-card:hover, mat-card.notification-card.compact:hover {
      $foreground: map.get($theme, foreground);
      $is-dark-theme: map.get($theme, is-dark);
      $divider-color: mat.m2-get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
      background: rgba($divider-color, 0.8);
    }
  }

}
