
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use '@angular/material' as mat;
@use '@sentinel/layout/theming' as sentinel;
@use '@sentinel/layout/sentinel-layout-theme' as layout;
@use '@sentinel/layout/notification-card-mixin' as notification-card;
@use '@sentinel/layout/sidebar-mixin' as sidebar;


$resilmesh-primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette);
$resilmesh-accent-palette:  mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$resilmesh-warn-palette:    mat.m2-define-palette(mat.$m2-red-palette);

$resilmesh-theme: mat.m2-define-light-theme((
    color: (
      primary: $resilmesh-primary-palette,
      accent: $resilmesh-accent-palette,
      warn: $resilmesh-warn-palette
    ),
    density: 0
));


@include mat.core();
@include mat.all-component-themes($resilmesh-theme);
@include mat.all-component-typographies(sentinel.$m2-sentinel-typography);
@include layout.sentinel-layout-theme($resilmesh-theme);
@include sidebar.sidebar-page-layout-theme($resilmesh-theme);
@include notification-card.notification-card-theme($resilmesh-theme);

:root {
  font-family: sentinel.$sentinel-base-font;

  @include mat.snack-bar-overrides((
    button-color: #FFFFFF,
    container-color: #343F5D,
  ));

  --mat-divider-color : #777680;
}

body {
  margin: 0;
}

.mat-toolbar {
  --mat-toolbar-container-background-color: #44BFEC;
}

.nav-drawer.mat-drawer {
  background-color: #343F5D;
  background-image: none;
}

.mat-mdc-row .mat-mdc-cell {
  font-size: 1.2em;
}

.sentinel-logo {
  width: 75%;
}