
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use '@angular/material' as mat;
@use '@sentinel/layout/theming' as sentinel;
@use '@sentinel/layout/sentinel-layout-theme' as layout;
@use '@sentinel/layout/notification-card-mixin' as notification-card;
@use '@sentinel/layout/sidebar-mixin' as sidebar;


@include mat.core();
@include mat.all-component-themes(sentinel.$m2-sentinel-theme);
@include mat.all-component-typographies(sentinel.$m2-sentinel-typography);
@include layout.sentinel-layout-theme(sentinel.$m2-sentinel-theme);
@include sidebar.sidebar-page-layout-theme(sentinel.$m2-sentinel-theme);
@include notification-card.notification-card-theme(sentinel.$m2-sentinel-theme);

:root {
  font-family: sentinel.$sentinel-base-font;
}

body {
  margin: 0;
}

.mat-toolbar {
  --mat-toolbar-container-background-color: #44BFEC;
}

.nav-drawer.mat-drawer {
  background-color: #343F5D;
}