.issue-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.issue-details-container button {
  cursor: pointer;
}

.issue-header {
  text-align: left;
  margin-bottom: 10px;
}

.issue-header h1 {
  font-size: 2rem;
  margin: 0;
}

.issue-details {
  display: flex;
  justify-content: space-between;
}

.issue-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.issue-impact {
  align-self: flex-end;
}
