<h1>Missions</h1>
<div class="top-bar">
    @if (missionNames && missionNames.length > 0) {
      <ng-container>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Mission</mat-label>
          <mat-select [(ngModel)]="selectedMissionName">
            <mat-option></mat-option>
            @for (mission of missionNames; track $index) {
              <mat-option [value]="mission">
                {{ mission }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </ng-container>
    }
    <sentinel-button-with-icon
      color="primary" 
      icon="search"
      tooltip=""
      [disabled]="!selectedMissionName"
      (click)="getGraphData()"
    >
      Search
    </sentinel-button-with-icon>
  </div>

  <sentinel-card class="graph-card" [controls]="controls">
  <div class="content-container">
    <div class="graph-wrapper">
      @if (graphLoading) {
        <ng-container>
          <div class="loader">
            <mat-spinner></mat-spinner>
          </div>
        </ng-container>
      } @else if (!graphLoading && errorMessage) {
        <ng-container>
          <p class="error-message">{{ errorMessage }}</p>
        </ng-container>
      } @else if (missions.length > 0 && missionsStructure && !graphLoading && !errorMessage) {
        <mission-graph
          [structure]="missionsStructure"
          [setSelectedNode]="setSelectedNode"
        ></mission-graph>
      } @else {
        <p class="empty">No missions available.</p>
      }
    </div>
    <div class="node-wrapper">
        <ng-container>
          <div class="node-detail">
            @if (selectedNode && selectedNode.id !== '') {
              <div class="badge" [style.background-color]="selectedNode.data.customColor" [style.color]="selectedNode.data.textColor">
                <span>{{ selectedNode.data.type }}</span>
              </div>
              <h2>{{ selectedNode.label }}</h2>
              <hr />
              <p class="attributes-title">Attributes:</p>
              @if (selectedNode.data.type == 'mission') {
                <ul class="node-attributes">
                  <li><strong>ID:</strong> {{selectedNode.data.id}}</li>
                  <li><strong>Criticality:</strong> {{selectedNode.data.criticality}}</li>
                  <li><strong>Description:</strong> {{selectedNode.data.description}}</li>
                </ul>
              } @else if (selectedNode.data.type == 'host') {
                <ul class="node-attributes">
                  <li><strong>ID:</strong> {{selectedNode.id}}</li>
                  <li>
                    <strong>IP:</strong>
                    <div class="badge">
                      {{selectedNode.data.ip}}
                    </div>
                  </li>
                </ul>
              }
            } @else {
              <p class="vertical-center">No node selected.</p>
            }
          </div>
        </ng-container>
    </div>
  </div>
</sentinel-card>