:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.header {
    color: #513A72;
    margin-bottom: 16px;
 }

.content-container {
    background-color: #fff;
    height: 500px;
    border: 1px solid #cbc4d5;
    display: flex;
}

.content-container .missions-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
}

.content-container .node-wrapper {
    display: flex;
    width: 30%;
    border-left: 1px solid #cbc4d5;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.content-container .node-wrapper .vertical-center {
    margin: auto;
}

.loader {
    margin: auto;
}

.content-container .empty {
    text-align: center;
    margin-top: 50px;
 }

.node-card {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
}

.node-card h2 {
    margin-bottom: 0;
    word-wrap: break-word;
}

.node-card .type-name {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.node-card .heading {
    font-size: 16xp;
    font-weight: bold;
    margin-bottom: 0;
}

.node-card ul {
    list-style: none;
}

button:enabled {
    background-color: #1a237e;
    color: #f1f2f2;
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff; 
}
  