.severity-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #efefef;
}