.home-page-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: min-content;
    gap: 1em;
}

.dashboard-grid-lower {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: min-content;
    gap: 1em;
}

.dashboard-card {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    padding-block: 1.25rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
    // align-items: center;
    // justify-content: center;
}

.dashboard-card.large {
    grid-column: span 2 / span 2;
    height: 16rem;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.dashboard-icon {
    margin-left: auto;
}

.dashboard-card p {
    padding: 0em;
    margin: 0.75em 0em 1em 0em;
}

.card-button {
    margin-top: auto;
    align-self: flex-start;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #212121;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}