<div class="dropdown-container">
  <div class="supernet-dropdown">
    <label for="supernet-dropdown" class="dropdown-label">Select CIDR Supernet:</label>
    <mat-form-field appearance="outline" class="dropdown">
      <mat-select
        [(ngModel)]="selectedSupernet"
        (selectionChange)="initializeD3Visualization(selectedSupernet, elements)"
      >
        <mat-option *ngFor="let supernet of availableSupernets" [value]="supernet">
          {{ supernet }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div id="treemapContainer"></div>
