body, html {
  margin: 0;
  padding: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}

:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%
  height: 100%;
}

.dropdown-container {
  display: flex;
  justify-content: space-between; /* Space out elements evenly */
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: none
}

.supernet-dropdown {
  margin: auto;
  padding: 10px
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  flex-grow: 2; /* Search box takes more space */
}

.dropdown {
  flex-grow: 1; /* Dropdown takes less space */
}

.dropdown-label {
  margin-right: 10px;
}

.search-button {
  flex-shrink: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.loading-message {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

#treemapContainer {
  flex-grow: 1;
  padding: 20px;
  margin: none;
  box-sizing: border-box;
  overflow: auto;
  background: white;
  border: none;
  width: 100%;
  height: calc(80vh - 72px);
}
