<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    class="nav-drawer"
    [mode]="(navBarState.isSmallView$ | async) ? 'over' : 'side'"
    [opened]="(navBarState.state$ | async) === 'expanded'"
  >
    @if (navBarState.isSmallView$ | async) {
      <div class="nav-controls">
        <button mat-icon-button (click)="navBarState.toggleState()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
    <div class="nav-content">
      <sentinel-nav
        [topLevelAgendaContainersCollapsed]="topLevelAgendaContainersCollapsed$ | sAsync"
        [logoSrc]="logoSrc"
        [version]="version"
        [maxNavElementLength]="maxNavElementLength"
        [agendaContainers]="agendaContainers ?? []"
        (agendaSelected)="onAgendaSelected()"
      >
      </sentinel-nav>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    @if (displayScrollButtons) {
      <sentinel-scroll-container>
        <ng-container *ngTemplateOutlet="innerContentTemplate"> </ng-container>
      </sentinel-scroll-container>
    } @else {
      <ng-container *ngTemplateOutlet="innerContentTemplate"> </ng-container>
    }
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #innerContentTemplate>
  <sentinel-toolbar
    [withBreadcrumbs]="withBreadcrumbs"
    [breadcrumbs]="breadcrumbs$ | sAsync: []"
    [breadcrumbsDivider]="breadcrumbsDivider"
    [breadcrumbMaxLength]="breadcrumbMaxLength"
    [user]="user"
    [userProfileRoute]="userProfileRoute"
    [notifications]="notifications$ | sAsync: []"
    [lastNotification]="lastNotification$ | sAsync"
    [notificationsRoute]="notificationsRoute"
    [displayNavToggle]="navBarState.isSmallView$ | sAsync: false"
    (navToggle)="navBarState.toggleState()"
    (refreshNotifications)="onRefreshNotifications()"
    (login)="onLogin()"
    (logout)="onLogout()"
  >
    <ng-content select="[role=toolbar]"></ng-content>
  </sentinel-toolbar>
  <sentinel-sidebar-page-layout [alwaysDisplaySidebar]="alwaysDisplaySidebar">
    @if (withLoading) {
      <sentinel-loading [isLoading]="isLoading"></sentinel-loading>
    }
    <div [ngClass]="paddedContent ? 'padded-content' : 'content'">
      <ng-content></ng-content>
    </div>
  </sentinel-sidebar-page-layout>
</ng-template>
