@if (elements(); as elements) {
  @if (elementsTotalCount() > 0) {
    <div class="elements">
      @for (
        element of elements | slice: 0 : maxDisplayedElements();
        track trackByFn()($index, element);
        let isLast = $last
      ) {
        @if (elementViewDirective()?.template; as template) {
          <ng-container
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{ $implicit: element }"
          />
        } @else if (tooltipTransformFn(); as transformFn) {
          {{ transformFn(element) }}
        } @else {
          {{ element }}
        }
        @if (!isLast) {
          <span>,&nbsp;</span>
        }
      }
      @if (elementsTotalCount() > maxDisplayedElements()) {
        <span>
          @if (maxDisplayedElements() > 0) {
            <span>,&nbsp;</span>
          }
          @if (tooltipTransformFn() && isAndMoreTextShorter()) {
            <button
              type="button"
              class="more-elements-trigger"
              [matMenuTriggerFor]="menu"
            >
              {{ andMore() }}
            </button>
            <mat-menu
              class="inline-elements-preview-menu-panel"
              #menu="matMenu"
            >
              <div class="more-elements-menu">
                @for (element of remainingElements(); track $index) {
                  <div class="more-elements-menu-item">{{ element }}</div>
                }
                @if (extraItemsCount() > 0) {
                  <div class="more-elements-menu-item">
                    and {{ extraItemsCount() }} more...
                  </div>
                }
              </div>
            </mat-menu>
          } @else {
            {{ andMore() }}
          }
        </span>
      }
    </div>
  } @else if (isTableCell()) {
    <span>---</span>
  } @else {
    No {{ elementTypeName() }}
  }
}
