.issue-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.header-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.total-vulnerabilities {
    font-weight: bold;
    margin-left: auto;
    align-self: flex-start;
}

.mat-mdc-table  {
    margin-top: 2em;
}

.issue-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background-color: #e3e3e3;
    cursor: pointer;
}

.issue-link:hover {
    background-color: #dcdcdc;
}

.issue-link.square-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.issue-link.square-icon:hover {
    background-color: #e3e3e3;
}

.issue-nav {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.no-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    padding: 2em;
    gap: 0.5em;
    font-size: 1.2em;
}

.badge {
    cursor: pointer;
}