.cve-code {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
}

.cvss-version-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    font-weight: bold
}

.cve-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cvss-columns {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}
.cvss-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.score-text {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    width: fit-content;
    background-color: #cacaca;
}

.score-text.low {
    background-color: #f6d55c;
    color: #000;
}

.score-text.medium {
    background-color: #ed913b;
    color: #000;
}

.score-text.high {
    background-color: #d9534f;
    color: #000;
}

.score-text.critical {
    background-color: #0f0f0f;
    color: #fff;
}