@use '@angular/material' as mat;
@use 'sentinel-variables' as vars;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@mixin sentinel-layout-theme($theme) {
  @if (mat.get-theme-version($theme) == 1) {
    --mat-sidenav-container-shape: 0;
    --sentinel-hover-state: #{mat.get-theme-color(
          $theme,
          primary,
          95
        )};
    --sys-display-large-size: 34px;
    --sys-display-large-line-height: 40px;
    --sys-display-large: 500 var(--sys-display-large-size) / var(--sys-display-large-line-height) #{vars.$sentinel-base-font};

    --sys-display-medium-size: 24px;
    --sys-display-medium-line-height: 32px;
    --sys-display-medium: 400 var(--sys-display-medium-size) / var(--sys-display-medium-line-height) #{vars.$sentinel-base-font};

    --sys-display-small-size: 20px;
    --sys-display-small-line-height: 32px;
    --sys-display-small: 400 var(--sys-display-small-size) / var(--sys-display-small-line-height) #{vars.$sentinel-base-font};

    --sys-headline-large-size: 16px;
    --sys-headline-large-line-height: 28px;
    --sys-headline-large: 400 var(--sys-headline-large-size) / var(--sys-headline-large-line-height) #{vars.$sentinel-base-font};

    --sys-headline-medium-size: 14px;
    --sys-headline-medium-line-height: 24px;
    --sys-headline-medium: 400 var(--sys-headline-medium-size) / var(--sys-headline-medium-line-height) #{vars.$sentinel-base-font};

    --sys-headline-small-size: 13px;
    --sys-headline-small-line-height: 22px;
    --sys-headline-small: 400 var(--sys-headline-small-size) / var(--sys-headline-small-line-height) #{vars.$sentinel-base-font};

    --sys-body-large-size: 14px;
    --sys-body-large-line-height: 20px;
    --sys-body-large-tracking: 0;
    --sys-body-large: 400 var(--sys-body-large-size) / var(--sys-body-large-line-height) #{vars.$sentinel-base-font};

    .mat-toolbar {
      --mat-toolbar-container-text-color: #{mat.get-theme-color(
          $theme,
          primary,
          100
        )};
      --mat-toolbar-container-background-color: #44BFEC;
      --mdc-icon-button-icon-color: #{mat.get-theme-color(
          $theme,
          primary,
          100
        )};
    }
    .nav-drawer.mat-drawer {
      background-color: #343F5D;
    }

    .nav-drawer {
      a, button {
        --mdc-text-button-label-text-color: #f1f2f2;
      }

      --mat-container-text-color: #{mat.get-theme-color(
            $theme,
            primary,
            100
          )};
      --mdc-icon-button-icon-color: #{mat.get-theme-color(
            $theme,
            primary,
            100
          )};
    }

    sentinel-root-agenda-container .container {
      margin: 8px 0;
      color: #{mat.get-theme-color(
          $theme,
          neutral-variant,
          95
        )};
    }

    sentinel-agenda-element .nested {
      height: 30px;
    }

    sentinel-agenda-element .top-level {
      height: var(--mdc-text-button-container-height);
    }

    sentinel-nested-agenda-container button {
      margin: 8px 0
    }

    #version {
      color: #f1f2f2;
    }
  }
  @else {
    .mat-drawer {
      background-color: #000000;
      background-image: linear-gradient(147deg, #03031F 0%, #141F64 250%);

      a.mat-mdc-button {
        color: #ffffff;
      }
    }
    #version {
      color: white;
    }

    sentinel-root-agenda-container .container {
      height: 48px;
      color: #c3c5cb;
    }

    sentinel-neted-agenda-container button.mat-mdc-button {
      margin: 8px 0
    }
  }
}
