:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.content-container {
    display: flex;
}

.graph-wrapper {
    display: flex;
    width: 70%;
    height: 100%;
    height: 32em;
    overflow: hidden;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    border-left: 1px solid #cbc4d5;
    padding: 0em 2em;
}

.node-detail {
    width: 100%;
    height: 100%;
}

.badge {
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    width: fit-content;
    background-color: #cacaca;
    text-transform: uppercase;
}

.badge.attribute {
    cursor: pointer;
    text-transform: none;
}

.node-detail h2 {
    margin-bottom: 0;
    word-wrap: break-word;
}

.node-detail .attributes-title {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
}

.node-attributes {
    padding-left: 1em;
}

.node-detail ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

.node-detail li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.node-detail li.description {
    align-items: flex-start;
}

.subnets-attribute {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
}