<sentinel-layout1
  [user]="user"
  [displayScrollButtons]="true"
  userProfileRoute="user"
  notificationsRoute="notifications"
  [agendaContainers]="agendaContainers"
  version="2.0.0"
  logoSrc="resilmesh-logo-negative.jpg"
  [hasCustomNav]="true"
>
  <sentinel-custom-nav>
    <custom-nav
      [logoSrc]="'resilmesh-logo-negative.jpg'"
      [agendaContainers]="agendaContainers"
      version="2.0.0"
    />
  </sentinel-custom-nav>
  <div data-cy="customized-toolbar-content" role="toolbar">
    <button mat-icon-button (click)="addNotification()">
      <mat-icon>add_alert</mat-icon>
    </button>
  </div>
  <router-outlet />
</sentinel-layout1>