<h1>Subnets</h1>
<!-- Top button bar -->
<div class="top-bar">
  <sentinel-button-with-icon
    color="primary" 
    icon="add"
    tooltip=""
    (click)="openDialog('0ms', '0ms', {}, 'insert')"
  >
    Insert new subnet
  </sentinel-button-with-icon>
  <sentinel-button-with-icon
    color="primary"
    icon="loop"
    tooltip="Updates all [PART OF] relationships"
    (click)="reorganiseDatabase()"
  >
    Reorganize database
  </sentinel-button-with-icon>
</div>
@if (dataLoading) {
  <ng-container >
    <mat-spinner></mat-spinner>
  </ng-container>
} @else if (errorResponse) {
  <ng-container>
    <p class="error">
      <strong>Error fetching data from GraphQL API.</strong><br /><span>Error message: {{ errorResponse }}</span>
    </p>
  </ng-container>
} @else if (emptyResponse) {
  <ng-container>
    <p class="no-data">
      No subnets available.
    </p>
  </ng-container>
} @else if (dataLoaded && !dataLoading && !emptyResponse) {
<ng-container>
  <div class="section">
    <!-- <h3>List of subnets</h3> -->
    <!-- Table with results -->

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Subnet note column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subnet</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-note">{{ row.note }}</span>
        </td>
      </ng-container>
      <!-- Subnet range column -->
      <ng-container matColumnDef="range">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Range</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-range">{{ row.range }}</span>
        </td>
      </ng-container>

      <!-- Subnet orgUnits column -->
      <ng-container matColumnDef="org_units">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organizational Unit</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-org">{{ row.organizationUnit }}</span>
        </td>
      </ng-container>

      <!-- Subnet contacts column -->
      <ng-container matColumnDef="contacts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacts</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-contacts">{{ row.contacts.join(', ') }}</span>
        </td>
      </ng-container>

      <!-- Parent subnet column -->
      <ng-container matColumnDef="parent_subnet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Part of</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-parent">{{ row.parentSubnet }}</span>
        </td>
      </ng-container>

      <!-- Domain name Column -->
      <!-- <ng-container matColumnDef="domainName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain name</th>
        <td mat-cell *matCellDef="let row">{{ row.domainName }}</td>
      </ng-container> -->

      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <!-- <td mat-cell *matCellDef="let row" >
          <sentinel-controls
            [controls]="controls"
            (itemClicked)="onControlsAction($event)">
          </sentinel-controls>
        </td> -->

        <td mat-cell *matCellDef="let row">
          <div class="actions">
            <button class="action" matIconButton (click)="openDialog('0ms', '0ms', row, 'edit')">
              <mat-icon fontIcon="edit" aria-label="Edit subnet"></mat-icon>
            </button>
            <button class="action destructive" matIconButton (click)="deleteSubnet(row)">
              <mat-icon fontIcon="delete" aria-label="Delete subnet"></mat-icon>  
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 200, 500]"></mat-paginator>
  </div>
</ng-container>
}