:host {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 1em;
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

button.top-bar-button {
    cursor: pointer;
    width: fit-content;
    background-color: #1a1a1b;
    color: white;
    border-radius: 4px;
    padding: 0.5em 1em;
}

/* span {
    font: Inter, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
} */

button.action {
    border-color: transparent;
    border-radius: 4px;
    background: #1b1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.2em;
    font-size: 1em;
}

button.action.destructive {
    background: #b22222; /* Dark red for destructive actions */
    color: white;
}

button.action:hover {
    background: #2c2c2c;
}

button.action.destructive:hover {
    background: #841f0d;
}

.actions {
    display: flex;
    gap: 0.5em;
}