:host {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nse-container {
    width: 100%;
    height: 120vh;
}