.chip-list {
  width: 100%;
}

.form-styles {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 8px;
}

.save-btn,
.cancel-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  cursor: pointer;
}

.save-btn {
  background-color: green;
  border-color: green;
}

.cancel-btn {
  background-color: red;
  border-color: red;
}

.save-btn mat-icon,
.cancel-btn mat-icon {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-btn:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.cancel-btn:hover {
  background-color: darkred;
  border-color: darkred;
}

.chip-container {
  min-height: 32px;
}
