mat-drawer {
  padding: 10px;
}

mat-drawer.semi-collapsed, mat-drawer.collapsed {
  padding: 0;
}

.sidebar-toolbar.semi-collapsed {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
