.issue-table-container {
    margin: 20px;
    padding: 20px;
}

.full-width-table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell {
    background-color: #e0e0e0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* Styling for table rows */
.mat-cell {
    border-bottom: 1px solid #ddd;
}

.mat-row, .mat-header-row {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.issue-details-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 20px;
}

.issue-details-container button {
    background-color: #1a237e;
    color: #f1f2f2;
    cursor: pointer;
}

.issue-header {
    text-align: left;
    margin-bottom: 10px;
}

.issue-header h1 {
    font-size: 2rem;
    margin: 0;
}

.issue-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.issue-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-impact {
    align-self: flex-end;
}

.loading-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading-message mat-spinner {
    margin-bottom: 10px;
}

.loading-message span {
    font-size: 1.2rem;
    color: #555;
}
