<div class="nav-container">
  <div class="sentinel-logo-wrapper">
    @if (logoSrc()) {
      <a (click)="navigateToHome()" class="logo-link">
        <img class="sentinel-logo" alt="logo" data-cy="sentinel-nav-logo" [src]="logoSrc()" />
      </a>
    }
  </div>
  <div class="nav-content">
    @for (agendaContainer of agendaContainers(); track $index) {
        <agenda-container [agendaContainer]="agendaContainer" />
    }
  </div>
  <div class="spacer"></div>

  <div id="version">
    @if (footerExtraContent()) {
      <div class="footer-extra-content">
        <ng-content select="sentinel-footer-extra-content" />
      </div>
      <mat-divider />
    }
    <span [ngClass]="footerExtraContent() ? 'version-content' : ''" [matTooltip]="i18n().versionTooltip">
      {{ version() }}
    </span>
  </div>
</div>
