<h1>Vulnerabilities</h1>
<sentinel-card [controls]="controls">
    <!-- Show spinner while loading data -->
  @if (dataLoading) {
    <ng-container>
      <mat-spinner></mat-spinner>
    </ng-container>
  } @else if (errorResponse && !dataLoading) {
    <!-- Show error message if there's an error -->
    <ng-container>
      <p class="error">
        <strong>Error fetching data from GraphQL API.</strong><br />
        <span>Error message: {{ errorResponse }}</span>
      </p>
    </ng-container>
  } @else if (emptyResponse && !dataLoading && !errorResponse) {
    <!-- Show no data message if the response is empty -->
    <ng-container>
      <p class="no-data">
        <strong>No available data.</strong>
      </p>
    </ng-container>
  } @else if (dataLoaded && !dataLoading && !emptyResponse) {
  <div class="issue-container">
    <div class="header-line">
      <mat-form-field subscriptSizing="dynamic">
        <input matInput (keyup)="applyNameFilter($event)" placeholder="Search by CVE ID">
      </mat-form-field>

      <mat-form-field class="filter-dropdown" subscriptSizing="dynamic">
        <mat-label>Filter by Issue Status</mat-label>
        <mat-select [(value)]="selectedStatus" (selectionChange)="applySelectFilter($event, filters[1])">
          <mat-option value="All">All</mat-option>
          @for (status of statusOptions(); track status) {
            <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-dropdown" subscriptSizing="dynamic">
        <mat-label>Filter by Severity</mat-label>
        <mat-select [(value)]="selectedSeverity" (selectionChange)="applySelectFilter($event, filters[0])">
          <mat-option value="All">All</mat-option>
          @for (severity of severityOptions(); track severity) {
            <mat-option [value]="severity">{{ severity }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <div class="total-vulnerabilities">
        Total Number of Vulnerabilities: {{ totalSortedIssues() }}
      </div>  
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let issue">
          {{issue.name}}
          <!-- <a [routerLink]="['/vulnerability-visualization', issue.name]" (click)="$event.stopPropagation()">
            {{ issue.name }}
          </a> -->
        </td>
      </ng-container>

      <!-- Severity Column -->
      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef> Severity </th>
        <td mat-cell *matCellDef="let issue"> 
          <cvss-score-chip [label]="issue.severity"></cvss-score-chip>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let issue"> {{ issue.status }} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let issue"> {{ issue.description }} </td>
      </ng-container>

      <!-- Last Seen Date Column -->
      <ng-container matColumnDef="last_seen">
        <th mat-header-cell *matHeaderCellDef> Last Seen </th>
        <td mat-cell *matCellDef="let issue"> {{ issue.last_seen | date:'yyyy/MM/dd\'T\'HH:mm:ss' }} </td>
      </ng-container>

      <!-- Table Header and Rows -->
      <tr mat-header *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToIssueDetail(row)"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSize]="6" [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
  </div>
  } @else {
    <!-- Fallback for any other case -->
    <ng-container>
      <p class="no-data">
        <strong>No data available.</strong>
      </p>
    </ng-container>
  }
</sentinel-card>
