.issue-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.header-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.total-vulnerabilities {
    font-weight: bold;
    margin-left: auto;
    align-self: flex-start;
}

.mat-mdc-table  {
    margin-top: 2em;
}