.issue-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.header-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.total-vulnerabilities {
    font-weight: bold;
    margin-left: auto;
    align-self: flex-start;
}

.mat-mdc-table  {
    margin-top: 2em;
}

.issue-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background-color: #e3e3e3;
    cursor: pointer;
}

.issue-link:hover {
    background-color: #dcdcdc;
}