<h1>Welcome to the Sentinel Layout Example App</h1>
<h1>
  This application demos how to use the Sentinel Layout library in combination with lazy loaded modules as individual
</h1>
<p>
  This application demos how to use the Sentinel Layout library in combination with lazy loaded modules as individual
  agendas.
</p>
<p>The layout is configurable, please consult the source code and README to see details.</p>
<p>The layout is also responsive. You can try it displaying this page on a mobile device or in dev tools.</p>
<p>
  You can generate new notifications by clicking on the button with plus sign inside a bell icon. You can display
  previously generated notifications through the regular bell icon. All notifications are stored in the IndexedDB of
  your browser.
</p>
