<h1>Vuln AI</h1>
<p>
  WIP: This page will allow users to ask questions about vulnerabilities and get
  AI-generated answers.
</p>
<div class="ai-prompter">
  <sentinel-card
    class="editor-card"
    cardTitle="AI Prompt"
    titleIcon="smart_toy"
  >
    <div class="content-container">
      <form (ngSubmit)="askQuestion()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Question</mat-label>
          <input
            matInput
            placeholder="Ask away"
            [(ngModel)]="question"
            name="question"
          />
          <mat-hint align="start"
            ><strong>E.g. what hosts have communicated with 10.0.0.2?</strong>
          </mat-hint>
        </mat-form-field>
      </form>
    </div>
  </sentinel-card>

  <div class="graph-and-details">
    <sentinel-card
      class="editor-card graph"
      cardTitle="Graph"
      titleIcon="graph_5"
    >
      <div class="content-container">
        @if (graphData()) {
          <force-directed-graph
            [nodes]="graphData()?.nodes || []"
            [edges]="graphData()?.edges || []"
            [(selectedNode)]="selectedNode"
          ></force-directed-graph>
        } @else {
          <p>No graph data available.</p>
        }
      </div>
    </sentinel-card>
    <sentinel-card
      class="editor-card node-details"
      cardTitle="Details"
      titleIcon="text_snippet"
    >
      <div class="details-container">
        @if (!selectedNode()) {
          <p>Select a node to see details.</p>
        } @else {
          <h3 class="selected-title">
            {{ selectedNode()?.labels[0] || selectedNode()?.id }}
          </h3>
          <div>
            <p><strong>id:</strong> {{ selectedNode()?.id }}</p>
            @for (property of nodeProperties(); track property.key) {
              <p>
                <strong>{{ property.key }}:</strong> {{ property.value }}
              </p>
            }
          </div>
        }
      </div>
    </sentinel-card>
  </div>

  <sentinel-card class="editor-card" cardTitle="Human Answer" titleIcon="man">
    <div
      [innerHTML]="cleanHumanMarkdownResult() || 'No human answer available.'"
    ></div>
  </sentinel-card>

  <sentinel-card class="editor-card" cardTitle="Query" titleIcon="search">
    <div class="content-container">
      <div class="query-container">

        <p>{{ response()?.query?.trim() || "No query available." }}</p>
        <sentinel-button-with-icon
          color="primary"
          icon="content_copy"
          aria-label="Copy Query"
          (click)="copyQuery(this.response()?.query || '')"
        >
          Copy Query
        </sentinel-button-with-icon>
      </div>
      
    </div>
  </sentinel-card>
  <sentinel-card
    class="editor-card"
    cardTitle="Visualization Query"
    titleIcon="search"
  >
    <div class="content-container">
      <p>
        {{
          response()?.visualization_query?.trim() ||
            "No visualization query available."
        }}
      </p>

    </div>
    <div class="button-row">
      <sentinel-button-with-icon
          color="primary"
          icon="content_copy"
          aria-label="Copy Query"
          (click)="copyQuery(this.response()?.visualization_query || '')"
      >
        Copy Query
      </sentinel-button-with-icon>
      <sentinel-button-with-icon
        color="primary"
        icon="play_arrow"
        aria-label="Execute Visualization Query"
        (click)="executeQuery(this.response()!.visualization_query)"
      >
        Execute Visualization Query
      </sentinel-button-with-icon>
    </div>
  </sentinel-card>

  <sentinel-card
    class="editor-card"
    cardTitle="Raw Answer"
    titleIcon="smart_toy"
  >
    <div class="content-container">
      <p>{{ response()?.result?.trim() || "No raw answer available." }}</p>
    </div>
  </sentinel-card>
</div>
