.ai-prompter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.5em;
  width: 100%;
}

.query-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5em;
}

.example-full-width {
  width: 100%;
}

.graph {
  width: 100%;
  height: 100%;
}

.graph-and-details {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 100%;
  width: 100%;
}

.node-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 20em;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.selected-title {
  margin: 0;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
