.ai-prompter {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5em;
    width: 100%;    
}

.example-full-width {
    width: 100%;
}