button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.status-label {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    width: fit-content;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background-color: #cacaca;
    color: #333333;
}

.status-overlay {
    padding: 0.5em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
}

