.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.extra-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

cvss-report {
    margin: 1em 0;
}

.external-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.occurrence-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 0.5em;
}

.no-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    padding: 2em;
    gap: 0.5em;
    font-size: 1.2em;
}
