.sentinel-logo-wrapper {
  width: 150px;
  height: 50px;
  margin-top: 24px;
  margin-left: -7px;
}

.sentinel-logo {
  width: 100px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spacer {
  flex: 1 1 0;
}

#version {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  max-width: 150px;
  margin-bottom: 10px;
}
