.sentinel-breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;

}
:host {
  width: 100%;
  overflow: hidden;
}

.sentinel-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sentinel-breadcrumb a {
  color: white;
}

.sentinel-breadcrumb-text {
  padding:  0 4px;
  min-width: 0;

}
.sentinel-breadcrumb-overflow-button{
  min-width: 0;
  color: white !important; ;
}
