@use '@angular/material' as mat;

@import '../../sentinel-layout/src/theming/sentinel-variables';
@import '../../sentinel-layout/sidebar/theming/sidebar-page-layout-theme';
@import '../../sentinel-layout/src/theming/sentinel-layout-theme';
@import '../../sentinel-layout/notification/theming/notification-card-theme';

html {
  @include mat.core();
  @include mat.all-component-themes($sentinel-theme);
  @include mat.all-component-typographies($sentinel-theme);
  @include mat.typography-hierarchy($sentinel-theme);

  @include mat.system-level-typography($sentinel-theme);
  @include mat.color-variants-backwards-compatibility($sentinel-theme);
  @include sidebar-page-layout-theme($sentinel-theme);
  @include notification-card-theme($sentinel-theme);
  @include sentinel-layout-theme($sentinel-theme);
}
