:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

// .content-container {
//     background-color: #fff;
//     border: 1px solid #cbc4d5;
//     display: flex;
//     flex-direction: row;
//     height: 620px;
// }

// .content-container .error-message {
//     margin: auto;
//     text-align: center;
// }

// .content-container .loader {
//     margin: auto;
// }

.content-container {
    display: flex;
}


.graph-wrapper {
    display: flex;
    width: 70%;
    height: 100%;
    min-height: 32em;
    overflow: hidden;
}

.chart-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    border-left: 1px solid #cbc4d5;
    padding: 0em 2em;
}

.node-detail {
    width: 100%;
    height: 100%;
}

.badge {
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    width: fit-content;
    background-color: #cacaca;
    text-transform: uppercase;
}

.node-detail h2 {
    margin-bottom: 0;
    word-wrap: break-word;
}

.node-detail .attributes-title {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
}

.node-attributes {
    padding-left: 1em;
}

.node-detail ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    word-break: break-all;
    list-style: none;
}

.node-detail li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
}

// .node-wrapper .vertical-center {
//     margin: auto;
// }

// .node-card {
//     background-color: #fff;
//     box-sizing: border-box;
//     width: 100%;
//     padding: 25px;
// }

// .node-card .type-name {
//     font-size: 14px;
//     margin-top: 0;
//     margin-bottom: 0;
// }
