<h1>Organisation Units</h1>
<!-- Top button bar -->
<div class="top-bar">
  <sentinel-button-with-icon
    color="primary" 
    icon="add"
    tooltip=""
    (click)="openDialog('0ms', '0ms', {}, 'insert')"
  >
    Create new organisation unit
  </sentinel-button-with-icon>
  <sentinel-button-with-icon
    color="accent"
    icon="loop"
    tooltip="Updates all [PART OF] relationships"
    (click)="reorganiseDatabase()"
  >
    Reorganize database
  </sentinel-button-with-icon>
</div>
@if (dataLoading) {
  <ng-container >
    <mat-spinner></mat-spinner>
  </ng-container>
} @else if (errorResponse) {
  <ng-container>
    <p class="error">
      <strong>Error fetching data from GraphQL API.</strong><br /><span>Error message: {{ errorResponse }}</span>
    </p>
  </ng-container>
} @else if (emptyResponse) {
  <ng-container>
    <p class="no-data">
      No subnets available.
    </p>
  </ng-container>
} @else if (dataLoaded && !dataLoading && !emptyResponse) {
<ng-container>
  <div class="section">
    <!-- <h3>List of subnets</h3> -->
    <!-- Table with results -->

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Org Unit name column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Org Unit</th>
        <td mat-cell *matCellDef="let row">
          <span class="org-unit-name">{{ row.name }}</span>
        </td>
      </ng-container>
      <!-- Org Unit subnets column -->
      <ng-container matColumnDef="subnets">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subnets</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-range">{{ row.subnets.join(', ') }}</span>
        </td>
      </ng-container>

      <!-- Org Unit contacts column -->
      <ng-container matColumnDef="contacts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacts</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-contacts">{{ row.contacts.join(', ') }}</span>
        </td>
      </ng-container>

      <!-- Parent Org Unit column -->
      <ng-container matColumnDef="parent_org_unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Org Unit</th>
        <td mat-cell *matCellDef="let row">
          <span class="subnet-org">{{ row.parentOrgUnit }}</span>
        </td>
      </ng-container>

      <!-- Domain name Column -->
      <!-- <ng-container matColumnDef="domainName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain name</th>
        <td mat-cell *matCellDef="let row">{{ row.domainName }}</td>
      </ng-container> -->

      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>

        <td mat-cell *matCellDef="let row">
          <div class="actions">
            <button class="action" matIconButton (click)="openDialog('0ms', '0ms', row, 'edit')">
              <mat-icon fontIcon="edit" aria-label="Edit org unit"></mat-icon>
            </button>
            <button class="action destructive" matIconButton (click)="deleteOrgUnit(row)">
              <mat-icon fontIcon="delete" aria-label="Delete org unit"></mat-icon>  
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 200, 500]" showFirstLastButtons></mat-paginator>
  </div>
</ng-container>
}