<p>
  group-example-page works! group-example-page works! group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page
  works!group-example-page works! group-example-page works!group-example-page works! group-example-page works!
</p>
<sentinel-sidebar-toggle></sentinel-sidebar-toggle>
<app-group-sidebar></app-group-sidebar>
