:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.search-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.search-filter .mat-form-field {
    width: 400px;
}

.search-filter button {
    height: 60px;
    top: 4px;
    margin-left: 25px;
}

button:enabled {
    background-color: #1a237e;
    color: #f1f2f2;
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
background-color: #fff;
}

.visualisation-container {
  width: 100%;
  height: calc(100vh - 100px); /* Adjusted height for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 25px;
}

/* Cytoscape container */
.cy-container {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

/* No data message styling */
.no-data-message {
  color: #888;
  font-size: 18px;
  text-align: center;
  position: absolute;
}

