:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.search-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.search-filter .mat-form-field {
  flex: 1 1 auto;
  min-width: 300px;
  margin-bottom: 10px;
}

.search-filter button {
  flex: 0 0 auto;
  height: 60px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .search-filter {
    flex-direction: column;
    align-items: stretch;
  }

  .search-filter button {
    margin-left: 0;
  }
}

button:enabled {
    background-color: #1a237e;
    color: #f1f2f2;
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
background-color: #fff;
}

.visualisation-container {
  width: 100%;
  height: calc(100vh - 100px); /* Adjusted height for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 25px;
}

/* Cytoscape container */
.cy-container {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

/* No data message styling */
.no-data-message {
  color: #888;
  font-size: 18px;
  text-align: center;
  position: absolute;
}

.loading-message {
  color: #888;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
