:host {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 1em;
    width: 100%;
}

button:enabled {
    background-color: #1a237e;
    color: #f1f2f2;
    cursor: pointer;
    width: fit-content;
}