<h2 mat-dialog-title>Insert subnet</h2>
<mat-dialog-content>
    <mat-label for="subnetRange">Subnet range:</mat-label>
    <mat-form-field id="subnetRange">
        <input matInput required placeholder="" [(ngModel)]="data.subnet.range" />
    </mat-form-field>

    <mat-label for="subnetNote">Subnet note:</mat-label>
    <mat-form-field id="subnetNote">
        <input matInput placeholder="" [(ngModel)]="data.subnet.note" />
    </mat-form-field>

    <mat-label for="parentSubnet">Parent subnet:</mat-label>
    <mat-form-field id="parentSubnet">
        <mat-select [(value)]="data.subnet.parentSubnet">
            <mat-option value="none">None</mat-option>
            @for (subnet of allSubnets(); track subnet.range) {
            <mat-option [value]="subnet.range">{{subnet.range}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-label for="orgUnit">Organizational unit:</mat-label>
    <mat-form-field id="orgUnit">
        <mat-select [(value)]="data.subnet.organizationUnit">
            <mat-option value="none">None</mat-option>
            @for (orgUnit of allOrgUnits(); track orgUnit) {
            <mat-option [value]="orgUnit.name">{{orgUnit.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <chips-contacts [(contacts)]="contacts"></chips-contacts>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="insertSubnet()"
            [disabled]="!data.subnet.range">
        Insert
    </button>
</mat-dialog-actions>


<style>
    h2[mat-dialog-title] {
        font-size: 1.5em;
    }

    mat-dialog-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        margin-top: 2em;
    }
</style>