.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2em;
    gap: 1em;
}

.full-width-table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell {
    background-color: #e0e0e0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* Styling for table rows */
.mat-cell {
    border-bottom: 1px solid #ddd;
}

.mat-row, .mat-header-row {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


.subnet-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0em;
}

.subnet-line {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.loading-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading-message mat-spinner {
    margin-bottom: 10px;
}

.loading-message span {
    font-size: 1.2rem;
    color: #555;
}

.occupancy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    gap: 0.5em;
}

.subnet-detail-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background-color: #e3e3e3;
    cursor: pointer;
}