.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.extra-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.cve-code {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
}

.cve-details {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    max-height: 500px;
}

.external-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.occurrence-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 0.5em;
}

.score-text {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    width: fit-content;

    background-color: #cacaca;
}

.score-text.low {
    background-color: #f6d55c;
    color: #000;
}

.score-text.medium {
    background-color: #ed913b;
    color: #fff;
}

.score-text.high {
    background-color: #f44336;
    color: #fff;
}

.score-text.critical {
    background-color: #0f0f0f;
    color: #fff;
}

.no-data {
    text-align: center;
    margin-top: 60px;
}
