.user {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.user-picture-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 45px;
  height: 45px;
}

.user-details {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
