<h1>Assets list</h1>
<sentinel-card [controls]="controls">
    <!-- Show spinner while loading data -->
  @if (dataLoading) {
    <ng-container>
      <mat-spinner></mat-spinner>
    </ng-container>
  } @else if (errorResponse && !dataLoading) {
    <!-- Show error message if there's an error -->
    <ng-container>
      <p class="error">
        <strong>Error fetching data from GraphQL API.</strong><br />
        <span>Error message: {{ errorResponse }}</span>
      </p>
    </ng-container>
  } @else if (emptyResponse && !dataLoading && !errorResponse) {
    <!-- Show no data message if the response is empty -->
    <ng-container>
      <p class="no-data">
        <strong>No available data.</strong>
      </p>
    </ng-container>
  } @else if (dataLoaded && !dataLoading && !emptyResponse) {
  <ng-container class="full-width-table">
    <div class="service-header">
        <div class="header-line">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search by IP address">
          </mat-form-field>

          <mat-form-field class="filter-dropdown">
            <mat-label>Filter by Tags</mat-label>
            <mat-select [(value)]="selectedTag" (selectionChange)="onTagChange()">
              <mat-option value="All">All</mat-option>
              @for (tag of allTags; track tag) {
                <mat-option [value]="tag">{{ tag }}</mat-option>
              }
              <!-- <mat-option *ngFor="let tag of allTags" [value]="tag">{{ tag }}</mat-option> -->
            </mat-select>
          </mat-form-field>
          <div class="total-services">
            Total Number of Assets: {{ totalSortedAssets }}
          </div>
        </div>
        <h5>Search Assets by Date Range</h5>
        <div class="header-line">
          <!-- Date Range Filter -->
            <mat-form-field class="date-range" subscriptSizing="dynamic">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startPicker" [formControl]="startDateControl" (dateInput)="dateChange()" placeholder="yyyy/MM/dd">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="date-range-end" subscriptSizing="dynamic">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endPicker" [formControl]="endDateControl" (dateInput)="dateChange()" placeholder="yyyy/MM/dd">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            <!-- Search Button -->
            <sentinel-button-with-icon
              color="primary"
              icon="search"
              tooltip="Search assets by date range"
              (click)="applyDateFilter()"
              [disabled]="!isDateRangeValid"
            >
              Search
            </sentinel-button-with-icon>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-table full-width-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let asset">
          {{ asset.name }}
          <!-- <a [routerLink]="['/network-visualization', asset.name]">
            {{ asset.name }}
          </a> -->
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="subnet">
        <th mat-header-cell *matHeaderCellDef> Subnet </th>
        <td mat-cell *matCellDef="let asset"> {{ asset.subnet }} </td>
      </ng-container>

      <!-- Tag Column -->
      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef> Tag </th>
        <td mat-cell *matCellDef="let asset"> 
          <tag-component 
            [id]="asset.id"
            [inputTags]="asset.tag"
            [onSubmit]="saveData.bind(this)"
            [allTags]="allTags"
          />
        </td>
      </ng-container>

      <!-- Last Seen Date Column -->
      <ng-container matColumnDef="last_seen">
        <th mat-header-cell *matHeaderCellDef> Last Seen </th>
        <td mat-cell *matCellDef="let asset"> {{ asset.last_seen | date:'yyyy/MM/dd\'T\'HH:mm:ss' }} </td>
      </ng-container>

      <!-- Table Header and Rows -->
      <tr mat-header *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSize]="6" [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
  </ng-container>
  }
</sentinel-card>