<div class="examples-toolbar">
    <sentinel-button-with-icon
        color="accent"
        icon="data_object"
        (click)="printNodes()"
    >
        Print Nodes
    </sentinel-button-with-icon>
    <sentinel-button-with-icon
        color="primary"
        icon="call_split"
        (click)="addComponentGroup()"
    >
        Add Service 'OR Group'
    </sentinel-button-with-icon>
    <sentinel-button-with-icon
        color="primary"
        icon="shapes"
        (click)="addComponentNode()"
    >
        Add Service Node
    </sentinel-button-with-icon>

    <sentinel-button-with-icon
        color="primary"
        icon="device_hub"
        (click)="addHostGroup()"
    >
        Add Host Group
    </sentinel-button-with-icon>

    <sentinel-button-with-icon
        color="primary"
        icon="devices"
        (click)="addHostNode()"
    >
        Add Host Node
    </sentinel-button-with-icon>

    <sentinel-button-with-icon
        color="warn"
        icon="delete"
        (click)="deleteSelected()"
    >
        Delete selected
    </sentinel-button-with-icon>
</div>


<!-- <div class="overlay">
    <h2>Selected Node: {{ selected() }}</h2>
</div> -->

<f-flow fDraggable (fLoaded)="onLoaded()" (fCreateConnection)="onCreateConnection($event)" (fSelectionChange)="onSelectionChange($event)">
    <!-- <f-line-alignment [fAlignThreshold]="40"></f-line-alignment> -->
    
    <f-background>
      <f-circle-pattern></f-circle-pattern>
    </f-background>
    <f-selection-area></f-selection-area>
    
  <f-canvas [fZoom]="true">
    <f-connection-for-create fBehavior="floating"></f-connection-for-create>

    @for (connection of connections; track connection.to) {
      <f-connection [fReassignDisabled]="true"
                    [fOutputId]="connection.from" [fInputId]="connection.to"
                    fBehavior="floating">
      </f-connection>
    }
    <ng-container ngProjectAs="[fNodes]">
        @for (node of nodes(); track node.id) {
            @if (node.type === 'root') {
                <div fNode fDragHandle [fNodePosition]="{ x: 0, y: 0 }" class="node--root">
                    <div fNodeOutput fOutputId="root-output" class="bottom" [fOutputMultiple]="false"></div>
                    {{missionName() || 'MISSION'}}
                </div>
            } @else if (node.type === 'and') {
                <div fNode fDragHandle [fNodePosition]="(node.position)" class="node--and" >
                    <div fNodeInput fInputId="{{node.id}}-input" class="top" [fInputMultiple]="false"></div>
                    <div 
                        fNodeOutput 
                        fOutputId="{{node.id}}-output" 
                        class="bottom" 
                        [fOutputMultiple]="true" 
                        [fCanBeConnectedInputs]="getAllowedConnections(node.layer)">
                    </div>
                        AND (ID: {{node.id}})
                </div>
            } @else if (node.type === 'or') {
                <div fNode fDragHandle [fNodePosition]="node.position" class="node--or">
                    <div fNodeInput fInputId="{{node.id}}-input" class="top" [fInputMultiple]="false" fInputCategory="{{node.layer}}"></div>
                    <div 
                        fNodeOutput 
                        fOutputId="{{node.id}}-output" 
                        class="bottom" 
                        [fOutputMultiple]="true"
                        [fCanBeConnectedInputs]="getAllowedConnections(node.layer)">
                    </div>
                        OR (ID: {{node.id}})
                </div>
            } @else if (node.type === 'component') {
                <div fNode fDragHandle [fNodePosition]="node.position" class="node--component">
                    <div fNodeInput fInputId="{{node.id}}-input" class="top" [fInputMultiple]="false" fInputCategory="{{node.layer}}"></div>
                    <div class="content">
                        SERVICE (ID: {{node.id}})
                    </div>
                    <div fNodeOutput fOutputId="{{node.id}}-output" class="bottom" [fOutputMultiple]="false"></div>
                </div>
            } @else if (node.type === 'host') {
                <div fNode fDragHandle [fNodePosition]="node.position" class="node--host">
                    <div fNodeInput fInputId="{{node.id}}-input" class="top" [fInputMultiple]="false" fInputCategory="{{node.layer}}"></div>

                    <div class="content">
                        <div>{{node.data.hostname || 'HOST'}} (ID: {{node.id}})</div>
                        <button class="action" matIconButton (click)="node.isEditing = !node.isEditing" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                            <mat-icon fontSet="material-icons" aria-label="Edit subnet">edit</mat-icon>
                        </button>
                    </div>

                    <ng-template
                        cdkConnectedOverlay
                        [cdkConnectedOverlayOrigin]="trigger"
                        [cdkConnectedOverlayOpen]="node.isEditing || false"
                        (detach)="node.isEditing = false"
                    >
                        <div class="node-editor-overlay">
                            <h3>Edit node - HOST (ID: {{node.id}})</h3>
                            <mat-form-field id="hostname" subscriptSizing="dynamic">
                                <mat-label for="hostname">Host Name:</mat-label>
                                <input matInput required placeholder="" [(ngModel)]="node.data.hostname" />
                            </mat-form-field>
                            <mat-form-field id="ipAddress" subscriptSizing="dynamic">
                                <mat-label for="ipAddress">IP Address:</mat-label>
                                <input matInput placeholder="" [(ngModel)]="node.data.ip" />
                            </mat-form-field>
                            <div class="node-editor-action">
                                <sentinel-button-with-icon
                                    color="primary"
                                    icon="close"
                                    (click)="node.isEditing = false"
                                >
                                    Close
                                </sentinel-button-with-icon>
                            </div>
                        </div>
                    </ng-template>
                </div>
            }
        }
    </ng-container>

  </f-canvas>
</f-flow>


