.mission-editor {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    column-gap: 1em;
}

.grid-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    text-align: center;
    height: 50em;
    overflow-y: auto;
}

.component-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(50% - 2em);
    height: 40em;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    text-align: center;
    overflow-y: auto;
}

.add-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #bbb;
    cursor: pointer;
}

.host-group {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 0.5em;
    border: 2px dashed #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    height: 20em;
}

.host-entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.5em;
    overflow-y: auto;
}

.host-entry {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.form-line {
    display: flex;
    align-items: center;
    gap: 1em;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

mat-label {
    font-weight: bolder;
}

.key-help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

.key-help-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

.key-help-container {  display: grid;
    flex-grow: 1;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0.5em;
  grid-auto-flow: row;
  background-color: #f0f0f0;
  padding: 0.5em 1em;
  border-radius: 4px;
  grid-template-areas:
    "icon title title"
    "description description description"
    "description description description";
}

.key-help-container .title { grid-area: title; 
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

.key-help-container .icon { grid-area: icon; 
    display: flex;
    justify-content: start;
    align-items: center;

}

.key-help-container .description { grid-area: description; 
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
}