<h1>Mission Editor</h1>
<p>
  For guidance on mission decomposition, see
  <a
    href="https://github.com/resilmesh2/ISIM/blob/main/docs/mission_guidelines.md"
    >mission guidelines</a
  >.
</p>
<div class="mission-editor">
  <div class="form-line">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Edit Existing Mission</mat-label>
      <mat-select
        (selectionChange)="loadMission($event)"
        [value]="selectedMission"
      >
        @for (mission of existingMissionNames(); track mission) {
          <mat-option [value]="mission">{{ mission }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p class="disclaimer">Editing existing mission resets the editor!</p>
  </div>
  <sentinel-card class="editor-card" cardTitle="Mission" titleIcon="strategy">
    <div class="content-container">
      <div class="missions-container">
        <div class="mission-control-bar">
          <div class="form-line">
            <sentinel-button-with-icon
              color="primary"
              icon="save"
              (click)="saveMission()"
            >
              Save Mission
            </sentinel-button-with-icon>
          </div>
          <div class="form-line">
            <sentinel-button-with-icon
              color="accent"
              icon="content_copy"
              (click)="copyMissionPayload()"
            >
              Copy Mission JSON to Clipboard
            </sentinel-button-with-icon>
          </div>
          <div class="form-line">
            <sentinel-button-with-icon
              color="warn"
              icon="restart_alt"
              (click)="resetEditor()"
            >
              Reset Mission Editor
            </sentinel-button-with-icon>
          </div>
        </div>
        @for (missionId of missionIds(); track missionId) {
          <div class="single-mission-container">
            <div class="form-line">
              <mat-form-field id="missionName" subscriptSizing="dynamic">
                <mat-label for="missionName">Mission Name:</mat-label>
                <!-- missionsMap()[missionId] -->
                <input
                  matInput
                  required
                  placeholder=""
                  [ngModel]="missionsMap()[missionId].name"
                  (ngModelChange)="
                    updateMissionField(missionId, 'name', $event)
                  "
                />
              </mat-form-field>
            </div>
            <div class="form-line">
              <mat-form-field id="missionCriticality" subscriptSizing="dynamic">
                <mat-label for="missionCriticality">Criticality:</mat-label>
                <input
                  matInput
                  type="number"
                  max="10"
                  min="1"
                  required
                  placeholder=""
                  [ngModel]="missionsMap()[missionId].criticality"
                  (ngModelChange)="
                    updateMissionField(missionId, 'criticality', $event)
                  "
                />
              </mat-form-field>
            </div>
            <div class="form-line">
              <mat-form-field id="missionDescription" subscriptSizing="dynamic">
                <mat-label for="missionDescription">Description:</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  placeholder="Enter mission description"
                  [ngModel]="missionsMap()[missionId].description"
                  (ngModelChange)="
                    updateMissionField(missionId, 'description', $event)
                  "
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        }
      </div>
    </div>
  </sentinel-card>
  <sentinel-card
    class="editor-card"
    cardTitle="Structure Editor Controls"
    titleIcon="keyboard"
  >
    <div class="content-container key-help-grid">
      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Pan Canvas',
          icon: 'pan_tool',
          description: 'Click and drag background to pan',
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Zoom Canvas',
          icon: 'zoom_in',
          description: 'Use mouse wheel to zoom in and out',
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Node Multi-Select',
          icon: 'gesture_select',
          description: 'Hold Ctrl and click on nodes/connections',
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Nodes Box Select',
          icon: 'select_multiple',
          description: 'Hold Shift and click and drag on background',
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Delete Selected',
          icon: 'delete',
          description:
            'Press Delete key to delete selected nodes & connections',
        }"
      ></ng-container>

      <ng-container
        [ngTemplateOutlet]="keyHelpTemplate"
        [ngTemplateOutletContext]="{
          title: 'Create Connection',
          icon: 'call_merge',
          description:
            'Click and drag from one node\'s output to another node\'s input',
        }"
      ></ng-container>
    </div>
  </sentinel-card>
  <sentinel-card
    class="editor-card"
    cardTitle="Structure Editor"
    titleIcon="flowchart"
  >
    <flow-editor
      [(missionsMap)]="missionsMap"
      [(nodes)]="nodes"
      [(connections)]="connections"
    ></flow-editor>
  </sentinel-card>
</div>

<ng-template
  #keyHelpTemplate
  let-title="title"
  let-icon="icon"
  let-description="description"
>
  <div class="key-help-container">
    <div class="title">
      {{ title }}
    </div>
    <div class="icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="description">
      {{ description }}
    </div>
  </div>
</ng-template>
