<div class="top-bar">
    <sentinel-button-with-icon
      color="primary"
      icon="arrow_back"
      tooltip="Back to Vulnerabilities"
      (click)="goBack()"
    >
      Vulnerabilities
    </sentinel-button-with-icon>

    <sentinel-button-with-icon
      color="accent"
      icon="analytics"
      tooltip="View vulnerability visualization"
      (click)="navigateToVulnDetail(issueName)"
    >
      Visualization
    </sentinel-button-with-icon>
  <!-- <a [routerLink]="['/vulnerability-visualization', issueName]" (click)="$event.stopPropagation()">
    <span>{{ issueName }}</span>
  </a> -->
</div>

<div class="issue-header">
  <h1>{{ issueName }}</h1>
</div>

<div class="issue-details">
  <div class="issue-line">
    <strong>Severity:</strong>
    <cvss-score-chip [label]="issueSeverity"></cvss-score-chip>
  </div>
  <div class="issue-line">
    <strong>Impact: </strong>
    <span>{{ issueImpact }}</span>
  </div>
  <div class="issue-line">
    <strong>Status: </strong>
    <span>{{ issueStatus }}</span>
  </div>
  @if (dataLoaded && !emptyResponse && !errorResponse && !dataLoading) {
    <div class="issue-line">
      <strong>Total Occurrences: </strong>
      <span>{{ totalOccurrences }}</span>
    </div>
  }
</div>
<!-- Overall element visible only when data is loaded, and no errors or empty response -->
@if (dataLoaded && !emptyResponse && !errorResponse && !dataLoading) {
  <div>
    <!-- You can add more elements here if needed within this condition -->
    <table mat-table [dataSource]="dataSource" class="mat-table full-width-table">
      <!-- Affected Asset Column -->
      <ng-container matColumnDef="affectedAsset">
        <th mat-header-cell *matHeaderCellDef> Affected Asset </th>
        <td mat-cell *matCellDef="let issueDetail"> {{ issueDetail.affectedAsset }} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let issueDetail"> {{ issueDetail.description }} </td>
      </ng-container>

      <!-- Software Column -->
      <ng-container matColumnDef="software">
        <th mat-header-cell *matHeaderCellDef> Software Version </th>
        <td mat-cell *matCellDef="let issueDetail"> {{ issueDetail.software }} </td>
      </ng-container>

      <!-- Vulnerability Count Column -->
      <ng-container matColumnDef="vulnerabilityCount">
        <th mat-header-cell *matHeaderCellDef> Vulnerability Occurrences </th>
        <td mat-cell *matCellDef="let issueDetail"> {{ issueDetail.vulnerabilityCount }} </td>
      </ng-container>

      <!-- Add the header and row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
} @else if (errorResponse) {
  <div class="error-message">
    <span>{{ errorResponse }}</span>
  </div>
} @else if (emptyResponse) {
  <div class="empty-message">
    <span>No data available for the selected issue.</span>
  </div>
} @else if (dataLoading) {
  <div class="loading-message">
    <mat-spinner></mat-spinner>
    <span>Loading vulnerable assets...</span>
  </div>
}
