:host {
    width: 100%;
}

.agenda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: oklch(98.5% 0 0);
    width: 100%;
}

.agenda-title {
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
}

.toggle-agenda {
    align-self: auto;
    margin-left: auto;
}

.agenda-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25em;
}

.agenda-item {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 4px;
}

.agenda-item:hover {
    background-color: #29314a;
    cursor: pointer;
}

ul {
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: gray;
    margin-left: 0.75em;
    margin-top: 0.5em;
}