<div class="agenda">
  <span class="agenda-title" (click)="toggleCollapse()">
    <mat-icon>{{ agendaContainer()?.icon ?? 'error' }}</mat-icon>
    {{ agendaContainer()?.label }}
    <mat-icon class="toggle-agenda">{{ isCollapsed() ? 'chevron_right' : 'expand_more' }}</mat-icon>
  </span>
  @if (!isCollapsed()) {
    <ul class="agenda-list">
      @for (agenda of agendas(); track agenda) {
        <li class="agenda-item" (click)="navigateToAgenda(agenda.path)">
          {{ agenda?.label }}
        </li>
      }
    </ul>
  }
</div>