<div class="mat-elevation-z8 service-table-container">
    <!-- Show spinner while loading data -->
  <ng-container *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
  </ng-container>

  <!-- Show error message if there's an error -->
  <ng-container *ngIf="errorResponse && !dataLoading">
    <p class="error">
      <strong>Error fetching data from GraphQL API.</strong><br />
      <span>Error message: {{ errorResponse }}</span>
    </p>
  </ng-container>

  <!-- Show no data message if the response is empty -->
  <ng-container *ngIf="emptyResponse && !dataLoading && !errorResponse">
    <p class="no-data">
      <strong>No available data.</strong>
    </p>
  </ng-container>

  <ng-container *ngIf="dataLoaded && !dataLoading && !emptyResponse" class="full-width-table">
  <div class="total-services">
    Total Number of Assets: {{ totalSortedAssets }}
  </div>  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by IP address">
  </mat-form-field>

  <mat-form-field class="filter-dropdown">
    <mat-label>Filter by Tags</mat-label>
    <mat-select [(value)]="selectedTag" (selectionChange)="onTagChange()">
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let tag of allTags" [value]="tag">{{ tag }}</mat-option>
    </mat-select>
  </mat-form-field>

    <!-- Date Range Filter -->
    <div class="date-range-filters">
      <h6>Search Assets by Date Range</h6>
    <mat-form-field class="date-range">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" [formControl]="startDateControl" (dateInput)="dateChange()" placeholder="yyyy/MM/dd">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="date-range-end">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" [formControl]="endDateControl" (dateInput)="dateChange()" placeholder="yyyy/MM/dd">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <!-- Search Button -->
    <button class="mainButton" mat-raised-button color="primary" [disabled]="!isDateRangeValid" (click)="applyDateFilter()">
      Search
    </button>
    </div>
  <table mat-table [dataSource]="dataSource" class="mat-table full-width-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let asset">
        <a [routerLink]="['/asset-visualization', asset.name]">
          {{ asset.name }}
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subnet">
      <th mat-header-cell *matHeaderCellDef> Subnet </th>
      <td mat-cell *matCellDef="let asset"> {{ asset.subnet }} </td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let asset"> 
        <tag-component 
          [id]="asset.id"
          [inputTags]="asset.tag"
          [onSubmit]="saveData.bind(this)"
          [allTags]="allTags"
        />
      </td>
    </ng-container>

    <!-- Last Seen Date Column -->
    <ng-container matColumnDef="last_seen">
      <th mat-header-cell *matHeaderCellDef> Last Seen </th>
      <td mat-cell *matCellDef="let asset"> {{ asset.last_seen | date:'yyyy/MM/dd\'T\'HH:mm:ss' }} </td>
    </ng-container>

    <!-- Table Header and Rows -->
    <tr mat-header *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSize]="6" [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
  </ng-container>
</div>
