.nested {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.top-level {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root-collapsed.nested{
  justify-content: flex-start;
  margin-left: 8px;
}
.root-collapsed a {
  justify-content: left;
}

.double-nested a {
  font-size: 0.9em;
}
