<div
  [ngClass]="nested ? 'nested' : 'top-level'"
  [class.root-collapsed]="topLevelAgendaContainersCollapsed"
  [class.double-nested]="doubleNested"
>
  @if (agenda; as agenda) {
    <a
      [class.root-collapsed]="topLevelAgendaContainersCollapsed"
      mat-button
      data-cy="sentinel-agenda"
      (click)="onAgendaSelected(agenda)"
      [matTooltip]="agenda.label | sentinelTooltipOnShortened: maxElementNameLength"
      [routerLink]="'/' + agenda.path"
    >
      {{ agenda.label | sentinelDefaultValueString | sentinelShortString: maxElementNameLength }}
    </a>
  }
</div>
