.asset-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background-color: #cacaca;
}