<div #scrollContent>
  @if (showScrollDown) {
    <button
      mat-icon-button
      class="scroll-arrow scroll-down"
      color="primary"
      [ngClass]="{ 'below-toolbar': scrollDownBelowToolbar }"
      (click)="scrollToBottom()"
    >
      <mat-icon>arrow_circle_down</mat-icon>
    </button>
  }
  <ng-content></ng-content>
  @if (showScrollUp) {
    <button mat-icon-button class="scroll-arrow scroll-up" color="primary" (click)="scrollToTop()">
      <mat-icon>arrow_circle_up</mat-icon>
    </button>
  }
</div>
