.scroll-arrow {
  opacity: 0.5;
  position: fixed;
  right: 5px;
}

.scroll-up {
  bottom: 10px;
}

.scroll-down {
  top: 10px;
  transition: all 500ms linear;

}

.below-toolbar {
  transition: all 500ms linear;
  top: 85px
}

.scroll-arrow:hover {
    opacity: 1
}
